<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Przychodnia</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/style.css"/>
    <link rel="stylesheet" href="../../../css/main.css"/>
    <link rel="stylesheet" href="../../../css/table.css"/>
    <link rel="stylesheet" href="../../../css/loginReg.css"/>
    <!--  jQuery v3.0.0-beta1 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
    <!-- JS Pluging -->
    <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
</head>
<body>
<script>
function dateValid(){
var valueDate = document.getElementById('date').value;
var newDate = new Date();
    if(!Date.parse(valueDate)){
        alert('Proszę o wypełnienie pola Termin');
    }else if(Date.parse(valueDate) < Date.parse(newDate)){
     alert('Nie możesz zarezerwować terminu w przeszłości');
    }
    else{
        window.location.href = 'searchingVisit.html';
    }
}
</script>
<div class="web">
    <nav class="navigation">
        <div class="container">
            <ul class="navigation__list">
                <li class="navigation__list-item navigation__list-item--home">
                    <a href="../main.html">Home</a>
                </li>
                <li class="navigation__list-item">
                    <a href="../profile.html">Profil</a>
                </li>
                <li style="float:right" class="navigation__list-item">
                    <a href="../patients/patientList.html">Pacjenci</a>
                </li>
                <li style="float:right" class="navigation__list-item">
                    <a href="../doctors/doctorList.html">Lekarze</a>
                </li>
                <li style="float:right" class="navigation__list-item">
                    <a href="visitList.html">Wizyty</a>
                </li>
                <li class="navigation__list-item">
                    <a href="../contact.html">Kontakt</a>
                </li>
                <li style="float:right" class="navigation__list-item">
                    <a href="../logout.html">Wyloguj</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="section-logo">
        <div class="container">
            <h1 class="section-logo__title">
                Przychodnia Privat
            </h1>
        </div>
    </section>
    <section class="section-register">
        <div class="container">
            <center>
                <div class="form-style-2">
                    <h2 style >Umów Wizytę</h2>
                    <br><br>
                    <form action="" method="post">
                        <div class ="labelFont">
                            <label><span>Pacjent <span class="required">*</span></span>
                                <select name="" style="font: 20px Arial, Helvetica, sans-serif; color: grey;">
                                    <option value="Adam Adamski 95039209300">Adam Adamski 95039209300</option>
                                    <option value="Tomasz Mazurek 78010248388">Tomasz Mazurek 78010248388</option>
                                </select></label><br>
                            <label><span>Specjalizacja<span class="required">*</span></span>
                                <select name="Specjalizacja" style="font: 20px Arial, Helvetica, sans-serif; color: grey;">
                                    <option value="Kardiolog">Kardiolog</option>
                                    <option value="Chirurg">Chirurg</option>
                                    <option value="Dentysta">Dentysta</option>
                                    <option value="Dermatolog">Dermatolog</option>
                                </select></label><br>
                            <label><span>Doktor <span class="required">*</span></span>
                                <select name="" style="font: 20px Arial, Helvetica, sans-serif; color: grey;">
                                    <option value="Tomasz Tomaszewski">Tomasz Tomaszewski</option>
                                    <option value="Agata Nirub">Agata Nirub</option>
                                </select></label><br>
                            <label><span>Termin<span class="required">*</span></span><input type="datetime-local" name="trip-start" id="date" class="input-field"></label><br>
                        </div>
                    </form>
                    <button onclick="dateValid()" class="button">Szukaj</button>
                    <a href="visitList.html"><button class="button">Powrót</button></a>
                </div>
            </center>
        </div>
    </section>
    <br><br>
    <section class="section-home">
        <div class="container">
            <div class="section-home__images">
                <img src="../../../img/medicover_ex.jpg" alt="">
                <img src="../../../img/odpornosc_na_plus_2.jpg" alt="">
                <img src="../../../img/swiadomy_mezczyzna_270x157.jpg"
                     alt="">
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <br>
            <CENTER><h3 class="footer__text">copyright &copy; Adrian Lachowicz 2019</h3></CENTER>
        </div>
    </footer>
</div>
</body>
</html>
